

/*  ---------------------------------------for base.html ----------------------------------------------------  */

.home_page_box{
    width: 1300px;
    margin: auto;
    text-align: center;

}


.hot_star_list{
    margin: auto;
    width: 20%;
    float: right;
}

.hot_star_list >h2{
    font-size: 1.5rem;
}



.home_album_box{
    margin: auto;
    width: 80%;
    float: left;

}

.home_hot_star_info{
    margin: 1rem ;


}

.home_hot_star_info >a >img{
    height: 5rem;
    float: left;

}

.home_hot_star_info >a{
    text-align: left;
}

.home_hot_star_info >a >div {

    margin: 1rem auto auto 1rem;
    float: left;

}

.home_hot_star_info >a >div>h3 {
    color: #7d7d7d;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}

.home_hot_star_info >a >div>span{
    color: #7d7d7d;
    font-size: 1rem;
}




.group {
    float: left;
    position: relative;
    margin: 0 20px 22px 0;
    width: 250px;
    border: 1px #eeeff2 solid;
    border-top: none;
    border-radius: 0 0 3px 3px;
    background: #fff;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.photo {
    position: relative;
    overflow: hidden;
    z-index: 1;
}




img{
    width: auto;
    height: auto;
    max-width: 100%;
}


.des_info_issue {
    position: absolute;
    z-index: 2;
    left: 2%;
    bottom: -35px;
    height: 80px;
    width: 96%;
    color: white;
    transition: 0.2s ease-out;
    overflow:hidden;

}


.des_info_issue a:hover{
    color: white;
    text-decoration: none;


}


.text {

    position: absolute;
    color:white;
    background-color:rgba(255,255,255,0.2) ;
    font-size: 1.5rem;
    width: 100%;
    margin: 3rem 0 1rem 0;
    left: 0;
    bottom: 0;
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 3rem;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; //文本行数
    overflow: hidden;



}


.shadow{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 65px;
    background: black;
    background: rgba(0, 0, 0, 0.6);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.6) 30%,rgba(0, 0, 0, 0.8) 100%);
    text-shadow: 0px 0px 1px #000;

}

/*  ---------------------------------------for base.html ----------------------------------------------------  */
.nav_box{
    background:#1ac6ff;
    width: 100%;
    height: 5rem;

}

.footer{
    margin-top: 3rem;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    padding-left: 10%;
    padding-right: 10%;


}

.footer >a{
    display: block;
    padding: 0.5rem 0.5rem;
    border:solid 1px #7d7d7d;
    width: 20%;
    margin: 1rem auto 1rem auto;
    color: #71767a;
}

.footer >a :hover{
    text-underline: none;
    text-underline: none;
}


/*  ---------------------------------------for album.html ----------------------------------------------------  */


.thread{
    width: 1010px;
    margin: 1px auto 20px auto;
    background: #fff;
    border: 1px #eeeff2 solid;

}

.thread >h3{
    margin: 3rem auto 2rem 3rem ;
    text-align: left;
    font-size: 2.5rem;
    color: black;
}

.album_des{
    color: #666;
    margin: 0 auto 2rem 3rem;
    text-align: left;
    font-size: 1.5rem;
}

.album_img{
    display:block;
    margin: 0 auto 20px auto;
    width: 100%;
    height: auto;
    max-width: 100%;


}

.tag{
    margin: 0 auto 1rem 3rem;

}

.tag >a{
    padding: 0.8rem 1rem;
    background: #aaaaaa;
    font-size: 1.5rem;
    display: inline-block;
    float: left;
    color: white;

}

.tag >a:hover{
    text-underline: none;
    text-decoration: none;
    background: #8c8c8c;
}


.star_box_title{
    font-size: 12px;
    line-height: 12px;
    color: #333;
    text-align: left;
    font-weight: normal;
    margin: 20px 30px 10px 2rem;
}

.album_star_box{
    margin: 1rem 1rem ;
    background: #fff;
    border: 1px #eeeff2 solid;
}


.album_star_img{
    padding: 2rem ;
    float: left;
    width: 20%
}

.album_star_img >a>img{
    width: 100%;


}

.star_info_box {
    margin: 2rem auto auto 1rem;
    width: 85%;
    height: auto;
    text-align: left;
}

.recommend{

    margin: 10px 30px ;
    background: #fff;
    border: 1px #eeeff2 solid;
    height: 670px;

}

.recommend_inside{
    margin: 25px;
    width: 100%;
    height: 100%;

}



/*--------------------------------for star.html ---------------------------------------*/
.star_page_info_box{
    margin: 20px auto 20px 20px;
    font-family: "Microsoft YaHei";



}

.star_page_name{
    font-size: 20px;

}
.star_page_star_pic{
    float: left;
    width: 15%


}
.star_page_star_info{
    margin: 0 2rem 20px 180px;

}

.star_page_album_box_title{
    margin: 30px 20px 20px 20px;
    border-top: 1px #eeeff2 solid;


}

.star_page_albums{
    margin: 1rem auto 0 2rem;

}

.star_page_recom_box{

    max-width: 100%;
    text-align: center;
    margin:1rem auto 2rem 2rem;

}


/*--------------------------------for pc_common_css ---------------------------------------*/

.module_title{
    font-size: 1.8rem;
    line-height: 2rem;
    color: #333;
    text-align: left;
    font-weight: bold;
    margin: 4rem  auto 0 2rem;


}

.album_box{
    max-width: 100%;
    text-align: center;
    margin: 1rem auto 2rem 2rem;
}

.nav_active{
    background: #dbdbdb;
}

.nav_active :hover{
    background: #dbdbdb;
}


.famous_site{
    z-index:100;
    position: absolute;
    top: 99%;
    left: -1px;
    width: 30vw;
    height: 24rem;
    background: white;
    box-shadow: 1px 1px 4px #aaaaaa;
    display: none;


}


.famous_site >a{
    display: inline-block;
    width: 20%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 0;
    background: #f6f6f6;
    float: left;
    border:1px white solid;
}


.famous_site > a:hover{
    text-decoration: none;
    color: white;
    background: #aaaaaa;
}





/*--------------------------------for common_show_album.html ---------------------------------------*/

.com_album_group {
    float: left;
    position: relative;
    margin-right: 1%;
    margin-bottom: 1%;
    width: 23.8%;
    border: 1px #eeeff2 solid;
    border-top: none;
    border-radius: 0 0 3px 3px;
    background: #fff;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.com_album_shadow{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 65px;
    background: black;
    background: rgba(0, 0, 0, 0.6);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 30%,rgba(0, 0, 0, 0.6) 100%);
    text-shadow: 0px 0px 1px #000;
}


.com_album_des_info_issue {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    color: white;
    transition: 0.2s ease-out;
    overflow:hidden;

}

.pagination_box{
    text-align: center;
    margin:0 auto;

}




/*------------------------------------ for classify.html -------------------------------------------*/
.classify_title{
    margin: 1.5rem auto auto auto;
    text-align: center;



}
.classify_tag{
    margin: 1.5rem 2rem 1.5rem 2rem;

}

.classify_tag >span,
.classify_tag >a>span
{
    padding: 0.5rem 1rem;
    background: #f6f6f6;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.classify_tag >span:hover,
.classify_tag >a>span:hover{
    background: #aaaaaa;
    color: white;

}


.classify_tag_name{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 14px;
}

.classify_album {
    width: 100%;
    text-align: center;
    margin:1rem 0 2rem 1%;
}

.classify_tag_active{
    background: #1ac6ff;
    color: #373737;

}


/*------------------------------------ for m_home.html -------------------------------------------*/

.m_home_album{
    width: 33%;
    float: left;
    position: relative;
    margin-right: 1px;
}

.m_home_album_title{
    margin: 0 0.2rem 0.5rem 0.2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    overflow: hidden;
    height: 4rem;
    color: #71767a;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;


}

.m_album_box{
    margin: auto 0 auto 2px;

}



/*------------------------------------ for m_pagination.html -------------------------------------------*/
.m_pagination{
    width: 75%;
    margin: 2rem auto ;
    text-align: center;


}



.m_number{
    border: solid 1px #d6d6d6;
    border-radius: 0.2rem;
    color: #7d7d7d;
    display: inline-block;
    text-align: center;
    padding: 0.4rem 0.2rem;
    margin: 0.5rem 1%;
    width: 15%;
    background: white;

}

.m_number:hover{
    background: #409EFF;
    color: white;
    border: solid 1px #409EFF;
    text-decoration: none;
}

.m_number_active{
    color: white;
    background: #409EFF ;
    font-weight:bold;
    border: solid 1px #409EFF;

}

.m_next_page{
    display: block;
    color: white;
    background: #409EFF ;
    font-weight:bold;
    border: solid 1px #409EFF;
    margin: 0 auto 0.5rem auto;
    width: 100%;
    height: 2.5rem;
    border-radius: 0.2rem;
    line-height: 2.5rem;
    align-items:center
}

.m_next_page:hover{
    text-decoration: none;
    color: white;


}


/*------------------------------------ for m_album.html -------------------------------------------*/
.m_album_title{
    font-size: 1.8rem;
    line-height: 2rem;
    height: 2rem;
    margin: 0 0.8rem 0.5rem 0.8rem;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    align-items:center;

}
.m_album_des{
    margin: 0 0.8rem 0.1rem 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    align-items:center;
    font-size: 1.2rem;
}

.m_album_pic{
    margin: 2px 0;
    width: 100%;
    text-align: center;

}

.m_album_tag{
    width: 100%;
    margin: 1rem auto 1rem 0.3rem;
    text-align: left;
}

.m_album_tag > a{
    background: white;
    color: #8c8c8c;
    display: inline-block;
    padding: 0.3rem 0.4rem;
    margin: 0.2rem 0.4rem;
}

.m_album_tag > a:hover{
    text-decoration: none;
    text-underline: none;

}


.m_module_title{
    margin: 2rem 0.4rem 0.5rem 0.8rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
}


.m_album_star_intro {
    margin: auto ;
    text-align: center;

}

.m_album_star_intro > a >img{
    width: 30%;

}

.m_album_star_intro > span{
    display: block;
}


/*------------------------------------ for m_star.html -------------------------------------------*/
.m_star_info{
    width: 100%;
    margin: auto;
    text-align: center;
}
.m_star_info > img{
    width: 30%;

}

.m_star_title{
    font-size:2rem;
    margin: 0.3rem auto;
}

.m_star_des{
    margin: 0.5rem 0.8rem;
}

/*------------------------------------ for m_classify.html -------------------------------------------*/



.m_classify_tag{
    margin: 0.5rem auto ;
    width: 100%;
}

.m_classify_tag >a {
    display: inline-block;
    border: 2px white solid;
    padding: 0.1rem 0.2rem;
    border-radius: 0.8em;
    margin-left: 0.3rem;

}

/*------------------------------------ for m_classify_detail.html -------------------------------------------*/


.m_classify_detail_title{

    font-size: 1.8rem;
    margin: 0.8rem auto;
    text-align: center;

}


/*------------------------------------ for m_bottom_nav.html -------------------------------------------*/
.m_bottom_nav{
    width: 100%;
    height: 4rem;
    background: #3c3c3c;
    color: white;
    filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
    display: none;
}

.m_bottom_nav > div {

    display: inline-block;
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
    line-height: 4rem;
    margin: 0;
    padding: 0;
    color: white;
    vertical-align: middle;
}
.m_bottom_nav > div > a {
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}



/*------------- for m_side_bar -------------*/
.m_side_bar_left{

    position: absolute;
    left:0;
    top: 0;
    width: 60%;
    height: 100%;
    z-index:1 ;
    background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8));
    background-image: linear-gradient(#fff, #f8f8f8);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
    background-repeat: repeat-x;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
    display: none;

}

.m_side_bar_right{
    position: absolute;
    right:0;
    top: 0;
    width: 40%;
    height: 100%;
    background: black ;
    z-index: 1;
    filter:alpha(Opacity=70);
    -moz-opacity:0.5;
    opacity: 0.5;
    display: none;

}

.m_side_bar_title{
    display: inline-block;
    font-size: x-large;
    margin-left: 2rem;
    margin-top: 3rem;

}

.m_side_bar_icon{
    display: inline-block;
    float: right;
    margin-right: 1rem;
    margin-top: 2rem;

}

.m_side_bar_item{
    margin-top: 2rem;
    margin-left:0px;
    padding-left: 1rem;
    padding-right: 1rem;

}


.m_side_bar_item >li {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top:1px solid #e5e5e5;
    list-style-type:none;
    margin: 0;
    padding-left: 0;
}

.m_side_bar_item >li>a {
    display: block;
    padding-left: 1.5rem;
    width: 100%;
    height: 100%;

}

.m_side_bar_item >li>a:hover{
    text-decoration: none;
}

.not_scroll {
    overflow-x:hidden;
    overflow-y:hidden;
}



/*--------------------------------- for m_nav.html -----------------------------------*/
.m_nav_title{


    display: block;
    font-size: large;
    margin: auto;
    color: #777;
    width: 100%;
    height: 100%;
    line-height: 5rem;
    text-align: center;


}
.m_nav_title:hover{
    text-decoration: none;
    text-underline: none;
    color: #777;

}


.m_nav_posi{
    z-index: 1;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;

}


/*--------------------------------- for hot_tags  -----------------------------------*/
.m_hot_tag_title{
    width: 100%;
}


.m_float_left{
    display: inline-block ;
    float: left;

}

.m_float_right{
    position: absolute;
    display: inline-block ;
    right: 0.3rem;
    font-size: 1.2rem;
}

.hot_tags{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 1.5rem;
}

.hot_tags > a{
    display: inline-block;
    padding: 0.5rem 0.8rem;
    margin: 0.3rem 0.3rem;
    background: white;
    color: #777;
}
.hot_tags > a:hover{
    text-decoration: none;
}

.link_color{
    color: #409EFF;
}


/*--------------------------------- for m_hot_tags  -----------------------------------*/
.m_hot_star{
    width: 100%;
    margin: 1rem 0.8rem 1rem 0.8rem;
}

.m_hot_star_info{
    width: 33%;
    position: relative;
    float: left;
    display: inline-block;
    text-align: center;

}

.m_hot_star_info > a > h5{
    margin: 0.4rem 0.5rem 1rem 0.2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    overflow: hidden;
    height: 2rem;
    color: #71767a;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.img_box{
    width: 100%;
    height: 30vw;

}


.img_box >img{

    margin: 0 auto;
    text-align: center;
}


.click_line_title{
    color:#71767a ;

}

.click_line_title:hover{
    text-decoration: none;
    color: black;
}

/*--------------------------------- for m_common  -----------------------------------*/

.m_page_title{
    font-size: 1.8rem;
    margin: 0.8rem auto;
    text-align: center;
}

