<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header center" >

      <a class="m_nav_title" href="{% url 'home' 1 %}">尤物丝</a>
    </div>

          <button id="side_bar_bottom" type="button" class="navbar-toggle collapsed m_nav_posi" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{% include "m_bottom_nav.html" %}



<div id="m_side_bar_left" class="m_side_bar_left" >
  <H1 class="m_side_bar_title">尤物丝</H1>

  <div id="m_side_bar_icon" class="m_side_bar_icon">
     <span class="glyphicon glyphicon-menu-left  " aria-hidden="true"></span>
    <span class="glyphicon glyphicon-menu-hamburger " aria-hidden="true"></span>
    </div>
  <div style="clear: both"></div>


  <ul class="m_side_bar_item">
    <li><a href="{% url 'home' 1 %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;首页</a></li>
    <li><a href="{% url 'classify_default' 1 %}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;专辑分类</a></li>
  </ul>


 </div>
<div id ="m_side_bar_right" class="m_side_bar_right"></div>

<script>

$(document).ready(function(){
  $("#m_side_bar_right").click(function(){
      $("#m_side_bar_left").hide();
      $("#m_side_bar_right").hide();
      $("html").removeClass("not_scroll");
  });

  $("#m_side_bar_icon").click(function(){
      $("#m_side_bar_left").hide();
      $("#m_side_bar_right").hide();
      $("html").removeClass("not_scroll");
  });

  $("#side_bar_bottom").click(function(){
      $("#m_side_bar_left").show();
      $("#m_side_bar_right").show();
      $("html").addClass("not_scroll");
  });
  });

</script>
