{% extends "base.html" %}
{% block content %}
{% include "m_nav.html" %}

<div class="m_star_info">
    <H2 class="m_star_title">{{star_name}}</H2>
    <img src="{{star_cover}}">
    <div class="m_star_des">
            {% if star_threeD %} <p>三维：{{star_threeD}}</p> {% endif %}
            {% if star_height %} <p>身高：{{star_height}} cm</p> {% endif %}
            {% if star_weight %} <p>体重：{{star_weight}} kg</p> {% endif %}
            {% if star_birthday %} <p>生日：{{star_birthday}}</p> {% endif %}
            {% if star_birthPlace %} <p>所在地：{{star_birthPlace}}</p> {% endif %}
            {% if star_hobby %} <p>兴趣：{{star_hobby}}</p> {% endif %}
            {% if star_description %} <p>描述：{{star_description}}</p> {% endif %}
    </div>

</div>
<H3 class="m_module_title" >尤物专辑</H3>

<!-- 明星专辑 -->
{% for line in star_album %}
    {% include "m_show_album.html" %}
{% endfor %}
<div style="clear: both"></div>


<!-- 分页 -->
{% include "m_pagination.html" %}

<!-- 推荐 -->
<H3 class="m_module_title" >猜你喜欢</H3>
{% for line in recom_data %}
    {% include "m_show_album.html" %}
{% endfor %}
<div style="clear: both"></div>



{% endblock %}
