.group {
    float: left;
    position: relative;
    margin: 0 20px 22px 0;
    width: 250px;
    border: 1px #eeeff2 solid;
    border-top: none;
    border-radius: 0 0 3px 3px;
    background: #fff;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.photo {
    position: relative;
    overflow: hidden;
    z-index: 1;
}


img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}


.des_info_issue {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -23px;
    height: 80px;
    white-space: nowrap;
    color: white;
    transition: 0.2s ease-out;
}


.text {
    position: absolute;
    content: "";
    top: -2px;
    left: 0px;
    right: -6px;
    padding: 2px 5px 3px;
    height: 100%;
    width: 100%;
    display: block;

    color:white;
}


.shadow{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: black;
    background: rgba(0, 0, 0, 0.6);
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    text-shadow: 0px 0px 1px #000;


}

.album_des{
font-size: 12px;
    color: #666;
    padding-bottom: 5px;

}
