{% extends "base.html" %}

{% block content %}

<!-- 图片展现 -->

  <div class="container"  >

{% for line in showData %}

    <div class="group">
      <div class photo>
        <a href={{ line.issue_url }} target="_blank" >
          <img class="img" src= {{ line.cover_img }} alt={{ line.title  }} ></a>

      </div>

      <div class="shadow" >
      </div>


      <div  class="des_info_issue">

          <a class="text" href={{ line.issue_url }} target="_blank">{{ line.title }}</a>

      </div>
    </div>

{% endfor %}







{% endblock %}
