{% extends "base.html" %}

{% block content %}

<!-- 专辑图片展现 -->


<div class="thread">
<div class="text-center" >
      <h3 >{{name}}</h3>


    <div class="album_des">

        {% for tag in tag %}

        <a target="_blank" href="www.baidu.com"><span class="label label-default"> {{tag}} </span> </a> <!--#待修改-->

        {% endfor %}

    </div>

    <div ><p class="album_des text-center">{{des}}</p></div>


 <!--图片展现-->

<div >
    {% for url in showData %}
        <div ><img  class="album_img"  src={{url}} alt="" ></div>
    {% endfor %}
</div>

</div>



  <nav aria-label="Page navigation">
    <div class=" text-center ">

     <ul class="pagination pagination-lg" >
        {#上一页按钮开始#}
        {# 如果当前页有上一页#}
        {% if showData.has_previous %}
            {#  当前页的上一页按钮正常使用#}
            <li ><a href="/albumID={{albumID}}/pageID={{showData.previous_page_number}}/">上一页</a></li>
        {% else %}
            {# 当前页的不存在上一页时,上一页的按钮不可用#}
            <li class="disabled" ><a href="">上一页</a></li>
        {% endif %}
        {#上一页按钮结束#}
        {# 页码开始#}
        {% for num in pageGroup %}

            {% if num == pageID %}
                <li class="active" ><a href="/albumID={{albumID}}/pageID={{ num }}/">{{ num }}</a></li>
            {% else %}
                <li ><a href="/albumID={{albumID}}/pageID={{ num }}">{{ num }}</a></li>

            {% endif %}
        {% endfor %}
        {#页码结束#}
        {# 下一页按钮开始#}
        {% if showData.has_next %}
            <li ><a href="/albumID={{albumID}}/pageID={{showData.next_page_number}}/">下一页</a></li>
        {% else %}
            <li class="disabled" ><a href="">下一页</a></li>
        {% endif %}
        {# 下一页按钮结束#}
    </ul>
    </div>
</nav>
<div class="star_box_title"><h4>女神资料</h4></div>
    <div class="album_star_box ">
        <div class="album_star_img text-center" >
            <a target="_blank" href="www.baidu.com"><img src="{{star_cover}}"  alt=""></a>
             <a target="_blank" href="www.baidu.com" style="display: block ;">{{star_name}}</a>
            </div>

        <div class="star_info_box">
            <p>生日：{{star_birthday}}</p>
            <p>所在地：{{star_wordPlace}}</p>
            <p>三维：{{star_threeD}}</p>
            <p>兴趣：{{star_hobby}}</p>
            <p>描述：{{star_des}}</p>

        </div>
    </div>

<div class="star_box_title"><h4>尤物美图推荐</h4></div>
    <div class="recommend">
        <div class="recommend_inside">

   {% for line in recom_data %}
    <div class="group">
      <div class photo>
        <a href={{ line.album_url }} target="_blank" >
          <img class="img" src= {{ line.cover }} alt={{ line.name }} ></a>

      </div>

      <div class="shadow" ></div>


      <div  class="des_info_issue">

          <a class="text" href={{ line.url }} target="_blank">{{ line.name }}</a>

      </div>
    </div>

{% endfor %}

</div>
    </div>
</div>

{% endblock %}
