{% extends "base.html" %}
{% block content %}

<!-- 专辑图片展现 -->


<div class="thread">
<div class="text-center" >
    <h3 >{{name}}</h3>
    <div class="album_des">

        {% for tag in tag %}

        <a target="_blank" href="www.baidu.com"><span class="label label-default"> {{tag}} </span> </a> <!--#待修改-->

        {% endfor %}

    </div>

    <div ><p class="album_des text-center">{{des}}</p></div>


 <!--图片展现-->

<div >
    {% for url in showData %}
        <div ><img  class="album_img"  src={{url}} alt="" ></div>
    {% endfor %}
</div>

</div>


<!--分页-->
{% include "common_pagination.html" %}

    <!--女神资料-->
<div class="star_box_title"><h4>女神资料</h4></div>
    <div class="album_star_box ">
        <div class="album_star_img text-center" >
            <a target="_blank" href="{% url 'star' starId 1 %}"><img src="{{star_cover}}"  alt=""></a>
             <a target="_blank" href="{% url 'star' starId 1 %}" style="display: block ;">{{star_name}}</a>
            </div>

        <div class="star_info_box">
            {% if star_birthday  %}<p>生日：{{star_birthday}}</p> {% endif %}
            {% if star_wordPlace  %}<p>所在地：{{star_wordPlace}}</p>{% endif %}
            {% if star_threeD  %}<p>三维：{{star_threeD}}</p>{% endif %}
            {% if star_hobby  %}<p>兴趣：{{star_hobby}}</p>{% endif %}
            {% if star_des  %}<p>描述：{{star_des}}</p>{% endif %}

        </div>
    </div>
</div>


<!--图册推荐-->

<div class="star_page_recom_box">
    <div class="star_box_title"><h4>尤物美图推荐</h4></div>
    {% for line in recom_data%}
    {% include "common_show_album.html" %}
    {% endfor %}
</div>
{% endblock %}
