<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>{{title}}</title>
    <meta name = "keywords" content={{keyword}}>
    <meta name = "description" content={{description}}>
    <meta name = "keywords" content={{keywords}}>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'bootstrap-theme.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static offcanvas.min.css %}"/>
    <!-- Bootstrap
        <link rel="stylesheet" href="/static/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="/static/bootstrap-theme.css" type="text/css" />
        <link rel="stylesheet" href="/static/base.css" type="text/css" />
        <link rel="stylesheet" href="https://res.onvshen.com/style/site.css" type="text/css" />
     -->

    <script src="/static/offcanvas.js"></script>
    <script src="/static/bootstrap.js" ></script>
    <script src="/static/npm.js"></script>
    <script src="/static/jquery-3.2.1.js"></script>

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/favicon.ico">

     <!-- google ADS-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-1531695049919434",
          enable_page_level_ads: true
        });
      </script>

  </head>
  <body>



 {% block content %}


  {% endblock %}

  <div class="footer">
    <a onclick="returnTop()">回到顶部</a>
        <script type="text/javascript">
     function returnTop(){
      $('body,html').animate({scrollTop:0},1000);
      }
    </script>

    <span>本站所有资源来源于网友上传与分享，如有关内容侵犯了你的权益，请联系告之，我们会第一时间删除！邮箱:youwus5174@gmail.com</span>
  </div>

  </body>
</html>
