{% extends "base.html" %}git
{% block content %}
{% include "nav.html" %}

<div class="thread">
    <div class="classify_title"><H3>尤物分类</H3></div>
    {% for line in tag_data %}
    <div class="classify_tag">
        <span class="classify_tag_name">{{line.tagTypeName}}:</span>
        {% for item in line.tag_list %}
            {% if item.tagId == tagId %}
            <span class = "classify_tag_span classify_tag_active ">{{item.tagName}}</span>

                {% else %}
            <a href="/tagId={{ item.tagId }}/pageId=1"><span class="classify_tag_span">{{item.tagName}}</span></a>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

</div>
<div class="classify_album">
    {% for line in showData %}
    {% include "common_show_album.html" %}
    {% endfor %}

</div>
{% include "common_pagination.html" %}



{% endblock %}
