{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}


<!-- 图片展现 -->
<div class="home_page_box">

  <div class="home_album_box">
    {% for line in showData%}
    {% include "common_show_album.html" %}
    {% endfor %}
    <div style="clear: both"></div>
    {% include "common_pagination.html" %}
</div>
  <div class="hot_star_list">
    <h2>模特排行榜</h2>
     <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
    {% for line in pc_hot_models %}
      <div class="home_hot_star_info">
        <a href="{% url 'star' line.starId 1 %}">
          <img src = "{{line.cover}}" href="{% url 'star' line.starId 1 %}">
          <div>
          <h3>{{line.name}}</h3>
          <span>{{line.work}}</span>
            </div>
          </a>
        <div style="clear: both"></div>
      </div>

     <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
    {% endfor %}

  </div>



  <!-- 翻页 啦啦啦 -->
<div style="clear: both"></div>
</div>
{% endblock %}
