{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}



<!-- 图片展现 -->

  <div class="container"  >

{% for line in showData %}

    <div class="group">
      <div class photo>
        <a href="{% url 'album' line.albumId 1 %}" target="_blank" >
          <img class="img" src= {{ line.cover }} alt={{ line.name }} ></a>

      </div>

      <div class="shadow" >
      </div>


      <div  class="des_info_issue">

          <a class="text" href="{% url 'album' line.albumId 1 %}" target="_blank">{{ line.name }}</a>

      </div>
    </div>

{% endfor %}

    </div>

  <!-- 翻页 啦啦啦 -->
{% include "common_pagination.html" %}


{% endblock %}
