{% extends "base.html" %}
{% block content %}


<div id="wrapper">
    <div class="entry_box_arena">
        <div class="box_entry">

            <div class="post_entry">
                <div id="listdiv" class="listdiv">
                   <div class="clear"></div>
                    <div class="pagesYY">


                        {#上一页按钮开始#}
                        {# 如果当前页有上一页#}
                        {% if data_star_page.has_previous %}
                            {#  当前页的上一页按钮正常使用#}
                            <a href="/site_youwu/select/page_num={{ data_star_page.previous_page_number }}"><span></span>上一页</a>
                        {% else %}
                            {# 当前页的不存在上一页时,上一页的按钮不可用#}
                        {% endif %}
                        {#上一页按钮结束#}


                        {# 页码开始#}
                        {% for num in page_range %}
                            {% if num == page_num %}
                                <a class="cur" href="/site_youwu/select/page_num={{ num }}"><span></span>{{ num }}</a>
                            {% else %}
                                <a href="/site_youwu/select/page_num={{ num }}"><span></span>{{ num }}</a>
                            {% endif %}
                        {% endfor %}
                        {#页码结束#}


                        {# 下一页按钮开始#}
                        {% if data_star_page.has_next %}
                            <a href="/site_youwu/select/page_num={{ data_star_page.next_page_number }}"><span></span>下一页</a>
                        {% else %}
                        {% endif %}
                        {# 下一页按钮结束#}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

