{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}

<div class="thread">
    <div class="star_page_info_box">
        <div class="star_page_name"><H3>{{ star_name}}</H3></div>
        <div class="star_page_star_pic"><img   src="{{star_cover }}" alt=""></div>
        <div class="star_page_star_info">
            {% if star_threeD %} <p>三维：{{star_threeD}}</p> {% endif %}
            {% if star_height %} <p>身高：{{star_height}} cm</p> {% endif %}
            {% if star_weight %} <p>体重：{{star_weight}} kg</p> {% endif %}
            {% if star_birthday %} <p>生日：{{star_birthday}}</p> {% endif %}
            {% if star_birthPlace %} <p>所在地：{{star_birthPlace}}</p> {% endif %}
            {% if star_description %} <p>描述：{{star_description}}</p> {% endif %}
            {% if star_hobby %} <p>兴趣：{{star_hobby}}</p> {% endif %}
        </div>
        <div style = "clear: both"></div>

    </div >

    <div class="star_page_album_box_title">
        <H4>女神套图</H4>
    </div>

    <div class="star_page_albums">
        {% for line in showData %}
        {% include "common_show_album.html" %}
        {% endfor %}
        <div style = "clear: both"></div>
    </div>

    {% include "common_pagination.html" %}

</div>

<div class="star_page_recom_box">
    <div><H3>套图推荐</H3></div>
    {% for line in recom_data%}
    {% include "common_show_album.html" %}
    {% endfor %}
</div>







{% endblock %}
